<form [formGroup]="mathForm">
  <div class="equation">{{ a }} + {{ b }} =</div>
  <input appAnswerHighlight formControlName="answer" />

  <!-- {{ mathForm.get("a") }} + {{ mathForm.value.b }} -->
  <!-- same result diff syntax -->
</form>

<div class="stats">
  answer time avrage
  {{ secondsPerSolution | number: "1.1-3" }}
  seconds
</div>

<!-- <hr />
<!-- <div>Form is Valid: {{ mathForm.valid }}</div>
<div>Form values: {{ mathForm.value | json }}</div>
<div>Form Errors {{ mathForm.errors | json }}</div> -->
